---
export async function getStaticPaths() {
	const response = await fetch('https://florian.geierstanger.org/lib/exe/ajax.php?call=api&fn=pages');
	const pages = await response.json();
	const paramsList = pages.map(page => {
		return {
			params: {
				id: page.id
			}
		}
	})
  return paramsList;
}
const {id} = Astro.request.params;

import BaseLayout from '../layouts/Base.astro';

const response = await fetch(`https://florian.geierstanger.org/lib/exe/ajax.php?call=api&fn=page&id=${id}`);
const page = await response.json();
---
<BaseLayout title="{page.title}" hasTitleElement={true}>
	<div>{page.html}</div>
</BaseLayout>