---
let title = "Index";
import BaseLayout from '../layouts/Base.astro';
// const response = await fetch('https://florian.geierstanger.org/lib/exe/ajax.php?call=api&fn=page&id=filmvermittlung');
// const html = data.html;
const response = await fetch('https://florian.geierstanger.org/lib/exe/ajax.php?call=api&fn=pages');
const pages = await response.json();

---
<BaseLayout title="{title}">
	<!-- <div>{html}</div> -->
	<!-- <div>{JSON.stringify(pages)}</div> -->
	<ul>
  {pages.map((item) => (
    <li>
			<a href={`https://florian.geierstanger.org/${item.id}`}>
				{item.title}
			</a>
		</li>
  ))}
</ul>
</BaseLayout>
