---
import "../styles/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
let {
  title,
  content,
  hasTitleElement = false,
  date,
  lang = "de",
  description,
} = Astro.props.frontmatter || Astro.props;
const siteTitle = "Florian Geierstanger";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <title>{title !== siteTitle ? `${title} — ` : ""} {siteTitle}</title>
    <link rel="me" href="https://mastodon.social/@kinoauge" />
    <link
      rel="preload"
      href="/assets/Rubik.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <style>
      @font-face {
        font-family: Rubik;
        font-weight: 300 900;
        src: url("/assets/Rubik.woff2");
        font-display: swap;
      }
    </style>
  </head>
  <body>
    <div class="layout-grid">
      <header>
        <Header />
      </header>

      <main class="main layout-grid">
        {date && <p class="date">{date}</p>}

        {!hasTitleElement && <h1 class="page-title">{title}</h1>}

        {description && <p class="description">{description}</p>}
        <slot />
      </main>

      <footer>
        <Footer />
      </footer>
    </div>

    <style is:global>
      .layout-grid {
        .site-title {
          font-size: inherit;
          font-weight: inherit;
        }

        header,
        footer {
          grid-column: maxcontent;
        }

        footer {
          margin-block: var(--space-400);
        }

        .main {
          margin-block-start: var(--space-400);

          & > * {
            grid-column: textcontent;
          }
        }

        .date {
          font-style: italic;
        }

        .description {
          font-size: 1.25em;
          font-weight: 350;
        }
      }
    </style>
  </body>
</html>
