---
// import "../styles/style.scss";
import "../styles/test-style.css";
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
let {title, content, hasTitleElement=false, date, lang="de"} = Astro.props;
const siteTitle = 'Florian Geierstanger';
---
<!DOCTYPE html>
<html lang={lang}>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title} — {siteTitle}</title>
  <link rel="preload" href="/assets/Rubik.woff2" as="font" type="font/woff2" crossorigin>
  <style>
    @font-face {
      font-family: Rubik;
      font-weight: 300 900;
      src: url("/assets/Rubik.woff2");
      font-display: swap;
    }
  </style>
</head>
<body>
	<div class="layout-grid">

    <header>
			<Header />
    </header>

		<main class="main layout-grid">
      {date &&
        <p class="date">
          {date}
        </p>
      }

      {!hasTitleElement &&
        <h1 class="page-title">
          {title}
        </h1>
      }
			<slot />
		</main>

    <footer>
      <Footer />
    </footer>

	</div>
</body>

</html>


<style lang="scss" is:global>
.layout-grid {

  .site-title {
    font-size: inherit;
    font-weight: inherit;
  }

  header, footer {
    grid-column: maxcontent;
  }

  footer {
    margin-block: var(--space-400);
  }

  .main {
    margin-block-start: var(--space-400);
    
    > * {
      grid-column: textcontent;
    }
  }

  .date {
    font-style: italic;
  }
}
</style>